<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}Hello{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('letsdance/static/css/main.css') }}"/>
	{% block head %}{% endblock %}
</head>
<body>
	
	<div style="display: padding-left: 5px; vertical-align: top;">
		<div style="display: inline-block; padding-left: 5px; vertical-align: middle;"> 
			<img src="{% block logo_src %} {{ asset('letsdance/media/img/logo.png') }} {% endblock %}" width="200px" /> 
		</div>
		
				<div style="display: inline-block; margin-left: 20%; padding-left: 5px; vertical-align: middle;"> 
						<a href = "{{ path('main') }}/hello">Main page</a>
				</div>
				<div style="display: inline-block; padding-left: 5%; vertical-align: middle;"> 
						<a href = "{{ path('main') }}/room">Your own room</a>
				</div>
				<div style="display: inline-block; padding-left: 5%; vertical-align: middle;"> 
						<a href = "{{ path('login') }}">Login page</a>
				</div>			
			
	</div>

	<!-- <div style="display: padding-left: 5px; vertical-align: top;">
			-->
		
		<div style="display:block; width:100%;">
				{% block content %}
					<h1> Hello {{ name }}! </h1>
					I glad to see you from this awesom place!	
				{% endblock %}
		</div>
	<!-- </div>	
   -->
	<div id = "foot" style="position:fixed;bottom:0px;left:0px;background-color:#ddd;width:100%; padding: 3px;">
		{% block footer %}
			<div style="display: inline-block; margin: 0 auto; padding-left: 5px; vertical-align: middle;"> 
					<a href = "{{ path('main') }}/hello">Main page</a>
			</div>
			<div style="display: inline-block; padding-left: 5%; vertical-align: middle;"> 
					<a href = "{{ path('main') }}/room">Your own room</a>
			</div>
			<div style="display: inline-block; padding-left: 5%; vertical-align: middle;"> 
					<a href = "{{ path('login') }}">Login page</a>
			</div>		
			
			<div style = "margin: 0 auto;" onClick = "document.getElementById('foot').style.visibility = 'hidden'">close</div>
		{% endblock %}
	</div>

</body>
</html>



