<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}Hello{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('letsdance/static/css/main.css') }}"/>
</head>
<body>
	
	<div style="display: padding-left: 5px; vertical-align: top;">
	<div style="display: inline-block; padding-left: 5px; vertical-align: top;"> 
		<img src="{% block logo_src %} {{ asset('letsdance/media/img/logo.png') }} {% endblock %}" width="200px" /> </div>
	<div style="margin: 0 auto; display: inline-block; width:75%; text-align: right;"> 
		<h1 style="text-align: right;">Hello =) </h1> </div>
	</div>


	<div style="display: padding-left: 5px; vertical-align: top;">
		<div style="display: inline-block; padding-left: 5px; vertical-align: top;"> 
				<h3>Choose the page:</h3>
				<ul>
					<li><a href = "{{ path('main') }}/hello">Main page</a></li>
					<li><a href = "{{ path('main') }}/room">Your own room</a></li>
					<li><a href = "{{ path('login') }}">Login page</a></li>
				</ul>
		</div>		
		
		<div style="margin: 0 auto; display: inline-block; width:75%; text-align: right;">
				{% block content %}
					<h1> Hello {{ name }}! </h1>
					I glad to see you from this awesom place!	
				{% endblock %}
		</div>
	</div>	
   <div>
   		{% block footer %}
		<p>Thanks for visiting this site.</p>
		{% endblock %}
    </div>
</body>
</html>



