{% extends "ProjectDanceBundle:Default:index.html.twig" %}

{% block title %}
	Hello 	{{ user.getUsername()}} !
{% endblock %}

{% block content %}
		<table><tr>
			<td>
				<img src = "{{ img }}"/>
				<h1> Hello {{ user.getUsername() }} !</h1>
				<br/>
				Your favorite dance type is {{ user.getDancetype().getTitle() }} and we will show you all news connected with it!
				<br/>
			</td>
			<td>
				{% if user.getUserVideo() is defined %}your favorite videos:
				<br>{% for video in user.getUserVideo() %}
					<iframe width="260" height="155" src="{{ video.getPass() }}" frameborder="0" allowfullscreen></iframe>
				<br>{% endfor %}{% endif %}
				<br/><a href ="{{ path('main') }}/rmvideolist/" >Remove items from video list</a>
				<br/><a href ="{{ path('main') }}/videolist/" >Add items from video list </a>
			</td>
		</tr></table>
		
	
{% endblock %}

