{% extends "ProjectDanceBundle:Default:index.html.twig" %}

{% block title %}
	Hello 	{{ user.getUsername()}} !
{% endblock %}
{% block logo_src %}{{ img }} {% endblock %}

{% block content %}
	<div style="display: inline-block; padding-left: 5px; vertical-align: top;text-align: left; width: 60%;">
		<h1> Hello {{ user.getUsername() }} !</h1>
		<br/>
		{% if user.getIcq() != '' %}
		ICQ: {{ user.getIcq() }} <br/> {% endif %}
		
		{% if user.getSkype() != '' %}
		Skype: {{ user.getSkype() }} <br/> {% endif %}
		
		{% if user.getInfo() != '' %}
		About person: {{ user.getInfo() }} <br/> {% endif %}
		
		Your favorite dance type is {{ user.getDancetype().getTitle() }} and we will show you all news connected with it!
		<br/>
		
		<h2>News in the {{ user.getDancetype().getTitle() }} </h2>
		{% for news in news_list %}
			{{ news['username'] }} , date: {{ news['date'] }}
			<br/>
			{{ news ['title'] }}
			<br/>
			{{ news ['text'] }}
			<hr/>
			<br/>
		{% endfor %}
	</div>
	<div style="display: inline-block; padding-left: 5px;text-align: right; width: 35%;">
		{% if user.getUserVideo() is defined %}your favorite videos: <br>
		{% for 	video in user.getUserVideo() %}
		<iframe id="I1" allowfullscreen="" frameborder="0" height="155" name="I1" src="{{video.getPass()}}" width="260">
		</iframe><br>
		{% endfor %}{% endif %} <br>
		<a href="{{path('main')}}/rmvideolist/">Remove items from video list</a>
		<br><a href="{{path('main')}}/videolist/">Add items from video list
		</a>
		<br/>
		Your albums:
		<br/>
		{% if user.getGalleryUser() is defined %}
		{% for album in user.getGalleryUser() %}
			<a href = "{{ path('root') }}album/{{album.getId()}}">{{ album.getTitle() }}</a>
			<br/>
			{% if album.getImgGallery()[0] is defined %}
				<img width = "150px" src = "{{ album.getImgGallery()[0].getPass() }}" />
			{% endif %}
			<br/>
		{% endfor %}{% endif %}
		<a href="{{path('root')}}albums">Albums list</a>
	</div>
{% endblock %}

